@font-face {
    font-family: 'noto_sansregular';
    src: url('notosans-variablefont_wdthwght-webfont.woff2') format('woff2'),
         url('notosans-variablefont_wdthwght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.woff2') format('woff2'),
         url('roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'noto_sansregular', 'robotoregular', sans-serif;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-header {
    font-size: 36px;
    font-weight: 550;
    margin: 5px;
}

.slogan {
    margin-bottom: 30px;
}

.sign-up-btn, .input-field {
    display: flex;
    align-items: center;
    background-color: white;
    border-color: #e4e5ea;
    border-radius: 5px;
    border-style: solid;
    font-size: 16px;
    padding: 10px 110px; /* Adjust padding to fit your design */
    gap: 10px; /* Space between icon and text */
    text-align: left; 
}

.google {
    margin-bottom: 15px;
}

.apple {
    padding: 10px 115.5px;
}

.sign-up-btn img {
    height: 1.4em;
    width: 1.4em;
    vertical-align: middle;
}

.sign-up-btn:hover {
    background-color: #F2F2F2;
}

.dash-text {
    color: #e4e5ea;
    white-space: nowrap;
    margin-bottom: 15px;
}
.dash-text::before, .dash-text::after {
    content: "----------------------------------------------------";
    letter-spacing: -2px;
}
.dash-text::before {
    margin-right: 15px;
}
.dash-text::after {
    margin-left: 15px;
}

.input-field {
    text-align: left; 
    padding: 15px 0 15px 15px;
    width: 400px;  
    box-sizing: border-box;
    margin-bottom: 15px;
}

.checkbox-container {
    display: flex;
    align-items: center; 
    margin-bottom: 15px; 
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

input[type="checkbox"] {
    border-radius: 0;
    width: 13px; 
    height: 13px;
    transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5); 
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5); 
    margin-right: 10px; 

    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    
    border: 1px solid black; 
    border-radius: 0;
    background-color: white; 

    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #007bff; 
    border: 0px solid black;
}

a:link { 
    text-decoration: none; 
} 

a:visited { 
text-decoration: none; 
} 

a:hover { 
text-decoration: none; 
} 

a:active { 
text-decoration: none; 
}

a:visited {
    color: #844cfb;
}

button[type="submit"] {
    background-color: #844cfb;
    border: 0px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 15px 110px;
    margin-bottom: 15px;
}

button[type="submit"]:hover {
    background-color: #baa9e0;
}
